In [4]:
import pandas as pd

In [5]:
dataset=pd.read_csv("insurance_pree.csv")

In [6]:
dataset

     age     sex     bmi  children smoker      charges
0     19  female  27.900         0    yes  16884.92400
1     18    male  33.770         1     no   1725.55230
2     28    male  33.000         3     no   4449.46200
3     33    male  22.705         0     no  21984.47061
4     32    male  28.880         0     no   3866.85520
..   ...     ...     ...       ...    ...          ...
143   29    male  29.735         2     no  18157.87600
144   30    male  28.690         3    yes  20745.98910
145   29  female  38.830         3     no   5138.25670
146   46    male  30.495         3    yes  40720.55105
147   51  female  37.730         1     no   9877.60770

[148 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [8]:
dataset

     age     bmi  children      charges  sex_male  smoker_yes
0     19  27.900         0  16884.92400         0           1
1     18  33.770         1   1725.55230         1           0
2     28  33.000         3   4449.46200         1           0
3     33  22.705         0  21984.47061         1           0
4     32  28.880         0   3866.85520         1           0
..   ...     ...       ...          ...       ...         ...
143   29  29.735         2  18157.87600         1           0
144   30  28.690         3  20745.98910         1           1
145   29  38.830         3   5138.25670         0           0
146   46  30.495         3  40720.55105         1           1
147   51  37.730         1   9877.60770         0           0

[148 rows x 6 columns]

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [11]:
independent

     age     bmi  children  sex_male  smoker_yes
0     19  27.900         0         0           1
1     18  33.770         1         1           0
2     28  33.000         3         1           0
3     33  22.705         0         1           0
4     32  28.880         0         1           0
..   ...     ...       ...       ...         ...
143   29  29.735         2         1           0
144   30  28.690         3         1           1
145   29  38.830         3         0           0
146   46  30.495         3         1           1
147   51  37.730         1         0           0

[148 rows x 5 columns]

In [12]:
dependent=dataset[["charges"]]

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}   
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\P59469.SJP\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\P59469.SJP\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:398: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [15]:
re=grid.cv_results_
print("The best parameters for RF prediction".format(grid.best_params_))

The best parameters for RF

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.067624,0.051254,0.005670,0.005748,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.898467,0.879613,0.892537,0.685925,0.664792,0.804267,0.105641,9
1,0.154952,0.009089,0.016327,0.003622,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.903316,0.865969,0.921168,0.701718,0.682736,0.814981,0.101976,4
2,0.025689,0.005875,0.008526,0.003572,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.846487,0.880658,0.914589,0.681766,0.737960,0.812292,0.088170,5
3,0.128705,0.006860,0.015651,0.000366,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.886345,0.834633,0.894158,0.742472,0.722217,0.815965,0.071562,2
4,0.023891,0.007424,0.007653,0.006999,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.838023,0.763587,0.773825,0.686266,0.688867,0.750114,0.057095,12
5,0.132959,0.012878,0.019824,0.005030,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.890140,0.816325,0.852445,0.752258,0.711816,0.804597,0.064949,8
6,0.033209,0.007629,0.004726,0.006271,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.904287,0.845598,0.913208,0.705949,0.681208,0.810050,0.098207,6
7,0.239359,0.005163,0.015700,0.000151,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.879584,0.878301,0.924446,0.736159,0.705349,0.824768,0.087085,1
8,0.027624,0.003963,0.001457,0.002774,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.862516,0.814215,0.820785,0.675506,0.691471,0.772898,0.075030,11
9,0.194488,0.013070,0.015700,0.000151,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.872142,0.837177,0.885492,0.711982,0.718255,0.805010,0.075099,7
10,0.031764,0.001354,0.002600,0.003200,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.799173,0.803483,0.860107,0.710690,0.721064,0.778903,0.055871,10
11,0.190774,0.007515,0.013089,0.004502,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.886324,0.840842,0.880774,0.737891,0.731499,0.815466,0.067821,3

In [22]:
age_input=float(input("Enter the age: "))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Enter the age: 22
BMI:34
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [23]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("The Future Prediction for RT{}".format(Future_Prediction))

The Future Prediction for RT[36683.2454572]

C:\Users\P59469.SJP\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"